{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $('.carousel').carousel();
    </script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'last-visited' %}">Last visited</a>
            <a class="nav-item nav-link" href="{% url 'admin:login' %}">Admin</a>
        </div>
      </div>
    </nav>
    <div class="content mx-auto">
    {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>